div{
    font-size: 20px;
    color: green;
    font-family: serif;
    /* font-style: italic */
    line-height: 50px;
    text-indent: 24px;
    /* text-align: center; */
    -webkit-text-decoration: red;
            text-decoration: red
    }

em{font-style: normal;} 

span{
    font-size: 30px;
}

h1{
    font-weight: normal
}