.header {
    height: 2.5rem;
    background-color: #37ab40;
    position: relative;
}

.logo {
    display: block;
    width: 4.45rem;
    height: 1.775rem;
    margin: .35rem auto 0;

}

.logo img {
    width: 100%;
}

.search {
    position: absolute;
    right: .75rem;
    top: .6rem;
    width: 1.35rem;
    height: 1.35rem;
    background: url(../images/icons.png) left top no-repeat;
    background-size: 3rem 42rem;
}

/* -------------------------------------------------- */
/* slide */
.slide img{
    width: 100%;
    /* height: 7rem; */
    border: 0
}
.slide a{line-height: 0;}

/* --------------------------------------------------- */
/* menu */
.menu{
    /* position: absolute; */
    width: 100;
    height: 8.375rem;
    background-color: #37ab40;

}



/* ----------------------------------------------- */
/* the bottom menu */
.footer_list {
    width: 100%;
    height: 2.5rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;

}

.footer_list ul {
    font-size: 0;
}

.footer_list ul li {
    width: 25%;
    float: left;
    height: 2.5rem;
    /* background-color: bisque; */
    text-align: center;
}

.footer_list ul li h2{
    display: block;
    font:normal 12px/0.8rem "Microsoft YaHei";
    color: #949392;
}

.footer_list ul a {
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    display: block;
    margin: .35rem auto 0;
}

.footer_list1 {
    background: url(../images/icons.png) left -30.0rem no-repeat;
    background-size: 3rem 42rem;
}
.footer_list2 {
    background: url(../images/icons.png) left -33.0rem no-repeat;
    background-size: 3rem 42rem;
}
.footer_list3 {
    background: url(../images/icons.png) left -36.0rem no-repeat;
    background-size: 3rem 42rem;
}
.footer_list4 {
    background: url(../images/icons.png) left -39.0rem no-repeat;
    background-size: 3rem 42rem;
}

